body {
  color: #5a6d6d;
}

h2.in-header-section {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 800;
  align-items: center;
}

p.in-header-section {
  font-family: "Montserrat";
  font-size: 20px;
  align-items: center;
}

.sort-header {
  font-size: 24px;
}

.filter-section-header {
  padding-bottom: 15px;
}

.temp-card {
  /*width: 18rem;*/
  max-width: 30%;
  cursor: pointer;
}

.guides-tag {
  border-radius: 1rem;
  border: 1px solid teal;
  padding: 0.2rem;
  margin: 0 0.5rem 0 0.5rem;
  text-align: center;
  vertical-align: middle;
}

.sort-row {
  vertical-align: middle;
  margin: 1rem 0 1rem 0;
}

.search-bar {
  border-radius: 0.5rem;
  border: 0px;
  background-color: #eff5f5;
  padding: 0.5rem 0 0.5rem 2.5rem;
  color: #797979;
}

.input-icons i {
  position: absolute;
  color: #797979;
}

.icon {
  padding: 0.7rem 0 1rem 1rem;
  min-width: 40px;
}

.guides-btn {
  background-color: #5da0a2;
  color: white;
}

.btn {
  margin-left: 1rem;
}

.input-bar {
  border-radius: 0.5rem;
  border: 0px;
  background-color: #eff5f5;
  padding: 0.5rem 0 0.5rem 1rem;
  color: #797979;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.right-btn {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5rem;
}

.modal-row {
  padding: 0 3rem 0 0;
}

.input-title {
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  color: #5a6d6d;
}

.modal-title {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 800;
  color: #5a6d6d;
}

.success-modal {
  padding: 2rem;
  max-width: 400px;
}

.success-modal-content {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2rem;
  outline: 0;
}

p.in-success-modal {
  margin: 1rem 2rem 1rem 2rem;
  align-items: center;
  font-family: "Montserrat";
  color: #5a6d6d;
}

.center-elts {
  align-items: center;
  text-align: center;
}

.success-icon {
  margin: 1rem 0 0 0;
  color: #5da0a2;
  font-size: 48px;
}

#got-it-btn {
  margin: 1rem 2rem 1rem 2rem;
}

.gray-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: pointer;
}
