.key-resource {
  padding: 2rem;
  font-size: 20px;
  margin: 2rem;
  background-color: papayawhip;
}

h2.in-header-block {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 800;
  align-items: center;
}

p.in-header-block {
  font-family: "Montserrat";
  font-size: 20px;
  align-items: center;
}

.header-block {
  font-family: "Montserrat";
  border-radius: 6px;
  background-color: #c4c4c4;
  content: center;
  margin: 4rem 4rem 4rem 4rem;
  padding: 4rem;
}

.author-box {
  width: 100px;
  height: 100px;
  margin-left: 3rem;
}

.guide-img {
  width: 200px;
  height: 200px;
}

.objects-row {
  padding-bottom: 50px;
}

.filter-object {
  margin-right: 15px;
  margin-top: 30px;
}

.sort-row {
  padding-bottom: 20px;
  padding-top: 15px;
}

.gs-img {
  height: 200px;
}

.gs-section {
  padding-bottom: 50px;
  font-family: "Montserrat";
}

.gs-subgroup {
  align-items: center;
}

.gs-subgroup-header {
  font-weight: bold;
}

.gs-subgroup-item {
  padding-bottom: 15px;
}

.team-img {
  height: 180px;
  border-radius: 10px;
  margin: 0.25rem;
}

.center-images {
}
