.header-section {
    font-family: "Montserrat";
    border-radius: 6px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
}

h2.in-header-section {
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 800;
    align-items: center;
}
  
p.in-header-section {
    font-family: "Montserrat";
    font-size: 20px;
    align-items: center;
}

.sort-header {
    font-size: 24px;
}

.filter-section-header {
    padding-bottom: 15px;
}

.temp-card {
    width: 18rem;
    cursor: pointer;
}

.temp-header-block {
    font-family: "Montserrat";
    border-radius: 6px;
    background-color: #eff5f5;
    content: center;
    margin-bottom: 20px;
    padding: 2rem;
    color: #5A6D6D;
}

.temp-header {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 20px;
    color: #5A6D6D;
}

.customize-input-div {
    font-family: "Montserrat";
}

.customize-input-field {
    border-radius: 0.5rem;
    border: 0px;
    background-color: #eff5f5;
    padding: 0.5rem 0 0.5rem 2.5rem;
    color: #797979;
    margin-bottom: 20px;
}

.customize-submit {
    margin-top: 20px;
    margin-bottom: 50px;
}

.customize-label {
    color: #5A6D6D;
}

.template-custom-item {
}

.template-img {
    width: 100%;
}