<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/0b04c030ef.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="../static/guides.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/guides.css" />

    <script>
      var guides = {{ guides| tojson}}
    </script>
  </head>

  <body>
    {% extends "layout.html" %} {% block content %}
    <div class="header-block">Resource Guides</div>
    <div class="row">
      <div class="input-icons">
        <i class="fa fa-search icon"></i>
        <input
          class="search-bar"
          id="guide-search-term"
          size="60"
          placeholder="Search for a guide..."
        /><br />
      </div>

      <button
        id="search-guide-btn"
        type="button"
        class="btn btn-primary guides-btn"
      >
        Search
      </button>

      <button
        id="add-guide-btn"
        type="button"
        class="btn btn-primary guides-btn"
      >
        Add Guide
      </button>
    </div>

    <div class="row">
      <div class="col-3">
        <h2>Filter By</h2>

        <div class="card">
          <div class="card-header">FRIDGE</div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"
              >The Uptown Fridge</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Jamaica Fridge</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Mott Haven Fridge</a
            >
          </div>
        </div>

        <div class="card">
          <div class="card-header">TOPIC</div>
          <div class="list-group list-group-flush">
            <a
              id="navigating-obstacles"
              href="#"
              class="list-group-item list-group-item-action guide-topic"
              >Navigating Obstacles</a
            >
            <a
              id="food-waste"
              href="#"
              class="list-group-item list-group-item-action guide-topic"
              >Food Waste</a
            >
            <a
              id="food-sources"
              href="#"
              class="list-group-item list-group-item-action guide-topic"
              >Food Sources</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="sort-row row">
          <h4 class="col-md-2">Sort by</h4>
          <div class="col-md-2 guides-tag">Most Popular</div>
          <div class="col-md-2 guides-tag">Most Recent</div>
        </div>

        <div id="guides" class="row">
          {% for g in guides %}
          <div class="card">
            <div class="card-body guide-object" value="{{g['guide-link']}}">
              <h5 class="card-title">
                {{g["guide-name"]}} link: {{g['guide_link']}}
              </h5>
              <img src="{{g['image']}}" class="guide-img" alt="{{g['alt']}}" />
            </div>
            <hr />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
