<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/0b04c030ef.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="../static/guides.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/guides.css" />

    <script>
      var guides = {{ guides| tojson}}
    </script>
  </head>

  <body>
    {% extends "layout.html" %} {% block content %}
    <div class="header-block row">
      <div class="col-md-5">
        <h2 class="in-h-block">Resource Guides</h2>
        <p class="in-h-block">
          We’ve compiled a list of resources for community fridges, and creating
          this website to share them with the community!
        </p>
      </div>
      <div class="col-md-5"></div>
    </div>

    <div class="row">
      <div class="input-icons">
        <i class="fa fa-search icon"></i>
        <input
          class="search-bar"
          id="guide-search-term"
          size="60"
          placeholder="Search for a guide..."
        /><br />
      </div>

      <button id="search-guide-btn" type="button" class="btn btn-info">
        Search
      </button>

      <button id="add-guide-btn" type="button" class="btn btn-info">
        Add Guide
      </button>
    </div>

    <div class="row">
      <div class="col-3">
        <h2>Filter By</h2>

        <div class="card">
          <div class="card-header">FRIDGE</div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"
              >The Uptown Fridge</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Jamaica Fridge</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Mott Haven Fridge</a
            >
          </div>
        </div>

        <div class="card">
          <div class="card-header">TOPIC</div>
          <div class="list-group list-group-flush">
            <a
              id="navigating-obstacles"
              href="#"
              class="list-group-item list-group-item-action guide-topic"
              >Navigating Obstacles</a
            >
            <a
              id="food-waste"
              href="#"
              class="list-group-item list-group-item-action guide-topic"
              >Food Waste</a
            >
            <a
              id="food-sources"
              href="#"
              class="list-group-item list-group-item-action guide-topic"
              >Food Sources</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="sort-row row">
          <h4 class="col-md-2">Sort by</h4>
          <div class="col-md-2 guides-tag">Most Popular</div>
          <div class="col-md-2 guides-tag">Most Recent</div>
        </div>

        <div id="guides" class="row">
          {% for g in guides %}
          <div class="card">
            <div class="card-body guide-object" value="{{g['guide-link']}}">
              <h5 class="card-title">{{g["guide-name"]}}</h5>
              <img src="{{g['image']}}" class="guide-img" alt="{{g['alt']}}" />
            </div>
            <hr />
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Add Guide Modal -->
      <div id="add-guide-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content modal-section">
          <span class="close">&times;</span>
          <div class="row modal-row">
            <div class="col-md-3">
              <div class="row modal-title">
                <label for="guide-title">Title</label>
              </div>
              <div class="row modal-title">
                <label for="guide-link">Guide Link</label>
              </div>
              <div class="row modal-title">
                <label for="guide-image">Image Link</label>
              </div>
              <div class="row modal-title">
                <label for="fridge-name">Fridge Name</label>
              </div>
              <div class="row modal-title">
                <label for="fridge-email">Email*</label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <input
                  id="guide-title"
                  class="input-bar"
                  size="40"
                  placeholder="Name of Guide"
                />
              </div>
              <div class="row">
                <input
                  id="guide-link"
                  size="40"
                  class="input-bar"
                  placeholder="Link to Guide (i.e. Google Docs)"
                />
              </div>
              <div class="row">
                <input
                  id="guide-image"
                  size="40"
                  class="input-bar"
                  placeholder="Upload or Link to Image (i.e. Instagram Post)"
                />
              </div>
              <div class="row">
                <input
                  id="fridge-name"
                  size="40"
                  class="input-bar"
                  placeholder="Fridge Name"
                />
              </div>
              <div class="row">
                <input
                  id="fridge-email"
                  size="40"
                  class="input-bar"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>
          <button id="submit-guide-btn" class="btn">Submit Guide</button>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
