<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />

    <script>
      var author_name = {{ author_name| tojson}}
      var author_title = {{ author_title| tojson}}
      var author_photo = {{ author_photo| tojson}}
      var alt = {{ alt| tojson}}
      var guide_name = {{ guide_name| tojson}}
      var text = {{ text| tojson}}
    </script>
  </head>

  <body>
    {% extends "layout.html" %} {% block content %}
    <div class="header-block">{{guide_name}}</div>
    <div class="row">
      <div class="col-md-2">
        <img class="author-box" src="{{author_photo}}" alt="{{alt}}" />
        <br />
        <p>{{author_name}} -- {{author_title}}</p>
      </div>

      <div class="col-md-6">{{text}}</div>
    </div>

    {% endblock %}
  </body>
</html>
