<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/guides.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/templates.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/0b04c030ef.js"></script>
    
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <script src="../static/individual-templates.js"></script>

    <script>
      var template_photo = {{ template_photo| tojson}}
      var alt = {{ alt| tojson}}
      var template_name = {{ template_name| tojson}}
      var text = {{ text| tojson}}
      var input_fields = {{ input_fields| tojson}}
    </script>
  </head>

  <body>
    {% extends "layout.html" %} {% block content %}
    <div class="header-section row">
        <div class="col-md-5">
          <div>TEMPLATE</div>
          <h2 class="in-h-section">{{template_name}}</h2>
          <p class="in-h-section">
            We’ve compiled a list of resources for community fridges, as well as a tool to build your own template to personalize it!
          </p>
        </div>
        <div class="col-md-6">
          <img
            class="pull-right img-responsive"
            src="/static/img/fridge.png"
            alt="cartoon image of two people near an open fridge"
          />
        </div>
    </div>

    <div class="temp-header row">Template Builder</div>

    <div class="temp-header-block row">
        <div id="template-text"></div>
    </div>

    <div class="temp-header row">Customize Template</div>

    <div class="customize-input-div row">
        {% for i in input_fields %}
        <div class="customize-input-col col-4">
            <label class="customize-label" for="customize-input-field">{{i}}</label> <br>
            <input class="customize-input-field" type="text" placeholder="{{i}}" />
        </div>
        {% endfor %}
    </div>

    <div class="customize-submit row">
        <button type="button" class="submit-btn btn btn-info">Customize</button>
    </div>

    {% endblock %}
  </body>
</html>
