<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/guides.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://use.fontawesome.com/0b04c030ef.js"></script>
    
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    
    <script>
      var templates = {{ templates| tojson}}
    </script>
  </head>
  <body>
    {% extends "layout.html" %} {% block content %}
    
    <div class="header-block row">
      <div class="col-md-5">
        <h2 class="in-h-block">Templates</h2>
        <p class="in-h-block">
          We’ve compiled a list of resources for community fridges, as well as a tool to build your own template to personalize it!
        </p>
      </div>
      <div class="col-md-5"></div>
    </div>

    <div class="row">
      <div class="input-icons">
        <i class="fa fa-search icon"></i>
        <input
          class="search-bar"
          id="template-search-term"
          size="60"
          placeholder="Search for a template..."
        /><br />
      </div>

      <button id="search-template-btn" type="button" class="btn btn-info">
        Search
      </button>

      <button id="add-template-btn" type="button" class="btn btn-info">
        Add Template
      </button>
    </div>

    <div class="row">
      <div class="col-3">
        <h2>Filter By</h2>

        <div class="card">
          <div class="card-header">FORMAT</div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action"
              >Email</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Instagram DM</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Phone Script</a
            >

            <a href="#" class="list-group-item list-group-item-action"
              >Other</a
            >
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="sort-row row">
          <h4 class="col-md-2">Sort by</h4>
          <div class="col-md-2 guides-tag">Most Popular</div>
          <div class="col-md-2 guides-tag">Most Recent</div>
        </div>
      </div>
    </div>
    
    {% endblock %}
  </body>
</html>